<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome back, {{checkedResult.firstName}}!</h1>
    </div>
  </div>
</div>