<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container d-flex align-items-center">
      <h1 class="display-4 mr-5">Welcome back, {{checkedResult.firstName}}!</h1>
      <a href="/">
        <i class="fas fa-sign-out-alt" style="font-size: 3.5rem;"></i>
      </a>
    </div>
  </div>
</div>